<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <%- include('partials/header') %>

  <section>
    <% 
      for(photo of gallery){ %>
        <a href="/gallery/<%= photo.id  %> ">
        <div class='card'>
          <img src="images/sm/<%= photo.fileName  %> " alt="<%= photo.title %>">
          <h2><%= photo.title  %></h2>
        </div>
        </a>
    <%} %>
  </section>
 
  <%- include('partials/footer') %>
</body>
</html>
    