<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <%- include('partials/header') %>

  <section>
    <% 
      for(photo of gallery){
        if(photo.id == title) { %>
       <div class='single-photo'>
        <a href="/gallery/<%= photo.id  %> ">
        <img src="../images/md/<%= photo.fileName  %> " alt="<%= photo.title %>">
        </a>
        <h2><%= photo.title  %></h2>

        </div>
    <%} } %>
  </section>

  <button><a href="./gallery">Back to gallery</a></button>
 
  <%- include('partials/footer') %>
</body>
</html>
    